# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
*/dist/

# Environment variables — HECH QACHON git ga push qilmang!
.env
*/.env
*.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

.vercel
